.error__title {
    text-align: center;
    padding: 246px 0 0 0;
    margin: 0 auto 5px;
    width: 400px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 169.43px;
}

.error__text {
    text-align: center;
    margin: 0 auto 184px;
    color: white;
    width: 400px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
}

.error__link {
    text-align: center;
    width: 100px;
    margin: 0 auto 0;
    text-decoration: none;
    color: rgba(66, 133, 244, 1);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    padding-left: 0;
    cursor: pointer;
}

.error__link:hover {
    opacity: 70%;
}

@media (max-width:768px) {
    .error__title {
        padding: 408px 0 0 0;
    }

    .error__link {
        padding-bottom: 222px;
    }
}

@media (max-width:450px) {
    .error__title {
        padding: 329px 0 0 0;
        margin: 0 auto 10px;
        width: 300px;
        font-size: 80px;
        line-height: 96.82px;
    }

    .error__text {
        text-align: center;
        margin: 0 auto 284px;
        color: white;
        width: 300px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14.52px;
    }

    .error__link {
        text-align: center;
        width: 100px;
        margin: 0 auto 0;
        text-decoration: none;
        color: rgba(66, 133, 244, 1);
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14.52px;
        padding-left: 0;
        padding-bottom: 30px;
        cursor: pointer;
    }
}