.portfolio {
    height: 425px;
    display: block;
    /* width: 1280p0; */
    padding-left: 70px;
    padding-right: 70px;
    background-color: rgba(32, 32, 32, 1);
}

.portfolio:last-child {
    border: none;
}

.portfolio__title {
    margin: 0 0 50px 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: rgba(139, 139, 139, 1);
}

.portfolio__block {
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid rgba(66, 66, 66, 1);
    margin: 0 0 20px 0;
    cursor: pointer;
}

.portfolio__block-last {
    display: flex;
    justify-content: space-between;
    height: 69px;
    border: none;
    margin: 0 0 20px 0;
    cursor: pointer;
}

.portfolio__block:hover {
    opacity: 60%;
}

.portfolio__block-last:hover {
    opacity: 60%;
}

.portfolio__block-link {
    height: 50px;
    margin: 0 0 19px 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: white;
}

.portfolio__block-button {
    height: 60px;
    width: 29px;
    background: url(../../../images/arrow-opt.svg) no-repeat center;
}

@media (max-width:1110px) {
    .portfolio {
        margin-top: 90px;
        height: 390px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .portfolio__block {
        border-bottom: 1px solid rgba(230, 230, 230, 1);
    }

    .portfolio__block-last {
        margin: 0 0 90px 0;
    }
}

@media (max-width:720px) {
    .portfolio {
        margin-top: 70px;
        height: 294px;
        padding: 0;
    }

    .portfolio__title {
        width: 278px;
        margin: 0 0 40px 14px;
        font-size: 14px;
        line-height: 20px;
    }
    

    .portfolio__block {
        height: 47px;
        margin: 0 14px 20px 14px;
    }

    .portfolio__block-last {
        height: 47px;
        margin: 0 14px 70px 14px;
    }

    .portfolio__block-link {
        height: 28px;
        width: 270px;
        font-size: 18px;
        line-height: 28px;
    }

    .portfolio__block-button {
        height: 28px;
        width: 18px;
        background: url(../../../images/arrow-opt.svg) no-repeat center;
    }
}