.footer {
    /* height: 172px; */
    display: block;
    /* width: 1280p0; */
    /* border: 1px solid rgb(255, 0, 0); */
    padding-left: 70px;
    padding-right: 70px;
    background-color: rgba(32, 32, 32, 1);
}

.footer__block {
    height: 36px;
    margin: 79px 0 20px 0;
    border-bottom: 1px solid rgba(66, 66, 66, 1);
}

.footer__block-text {
    text-align: center;
    width: 320px;
    height: 16px;
    margin: 0 auto 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    color: rgba(139, 139, 139, 1);
}

.footer__note {
    display: flex;
    justify-content: space-between;
    height: 36px;
    margin: 0;
}

.footer__note-year {
    margin: 0 0 20px 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    color: white;
}

.footer__note-block {
    display: flex;
}

.footer__note-yandex {
    margin: 0 20px 20px 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.footer__note-git {
    margin: 0 0 20px 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.footer__note-yandex:hover, .footer__note-git:hover{
    opacity: 70%;
}

@media (max-width: 1110px) {
    .footer {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 720px) {
    .footer {
        padding: 0;
    }

    .footer__block {
        width: 300px;
        height: 36px;
        margin: 79px auto 30px;
        border-bottom: 1px solid rgba(66, 66, 66, 1);
    }

    .footer__block-text {
        width: 300px;
        height: 15px;
        margin: 0 auto 21px;
        font-size: 12px;
        line-height: 14.52px;
    }

    .footer__note {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 87px;
        margin: 0;
    }

    .footer__note-year {
        text-align: center;
        margin: 0 0 20px 0;
        font-size: 12px;
        line-height: 14.52px;
        color: rgba(139, 139, 139, 1);
    }

    .footer__note-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 14px;
    }

    .footer__note-yandex {
        margin: 0 auto 12px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14.52px;
        color: white;
    }
    
    .footer__note-git {
        margin: 0 auto 0;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14.52px;
        color: white;
    }
    
}